* {
    margin: 0;
    padding: 0;
}




.Menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color:blue;
    padding: 1rem 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    display: block;
    transition: all 0.5s linear;

}

.Menu a:hover{
    background:cyan;
    padding-left: 2rem;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background:wheat;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    transform: translate(-100%);

}
.show-sidebar{
    transform: translate(0);
}

.sidebar-header{
    display: flex;
    padding: 1rem 1.5 rem;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: -15px;
}

.fa-times{
    font-size: 1.5rem;
    cursor: pointer;
    color:red;
}
.fa-times:hover{
    color: white;
}
.fa-bars{
    position: fixed;
    top: 2rem;
    right: 3rem;
    color:burlywood;
    cursor: pointer;
    font-size: 1.5rem;
}
.fa-bars:hover{
    color:red;
}

@media (min-width:650px) {
    .sidebar{
        width: 500px;

    }
    
}

